cmake-build-debug/CMakeFiles/
cmake-build-debug/*.stackdump
cmake-build-debug/*.exe
cmake-build-debug/*.txt
cmake-build-debug/*.cmake
.idea/workspace.xml
.idea/
cmake-build-debug/Makefile
cmake-build-debug/civ.cbp